* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", system-ui, sans-serif;
  line-height: 1.6;
  background-color: black;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s ease;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
}

.section {
  padding: 64px 0;
}

.sectiontitle {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 32px;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: linear-gradient(135deg, #f058f5,#9d1ef7);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.navbar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 20px;
  font-weight: 800;
  color: white;
  border: 3px solid white;
  padding: 3px 9px;
  border-radius: 4px;
}

.navlinks {
  display: flex;
  gap: 32px;
}

.navlinks a {
  color: white;
  font-weight: 500;
}

.navlinks a:hover {
  color: white;
}

.hero {
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  padding: 32px 0;
}

.herocontent {
  max-width: 600px;
}

.greeting {
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.name {
  font-size: 64px;
  font-weight: 800;
  background: linear-gradient(135deg, #f058f5, #9d1ef7);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.role {
  font-size: 32px;
  margin: 16px 0;
  color: white;
}

.tagline {
  background: linear-gradient(135deg, #de59e6, white);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  max-width: 90%;
}

.heroimage img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
  border: 10px solid white;
  border-color: #9d1ef7;
  box-shadow: 0 10px 20px white;
  
}

.btn {
  display: inline-block;
  padding: 12px 32px;
  border-radius: 9999px;
  font-weight: 600;
  transition: 0.3s ease;
}

.btnprimary {
  margin-top: 30px;
  background: linear-gradient(135deg, #f058f5, #9d1ef7);
  color: white;
}

.btnprimary:hover {
  transform: translateY(-2px);
}

#about {
  background-color: black;
  border-radius: 20px;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  border: solid;
}

.sectiontitle {
  background: linear-gradient(135deg, #f058f5, #9d1ef7);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#about:hover {
  transform: translateY(-10px);
  border-color: #9d1ef7;
  box-shadow: 0 10px 20px #de59e6;

}


.aboutwrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 64px;
  margin-top: 32px;
}

.aboutcontent {
  flex: 1;
  text-align: center;
  font-size: 18px;
  margin-bottom: 0;
  padding:20px;
}
.aboutcontent p{
  color: white;
}

.aboutcollage {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  max-width: 500px;
  position: relative;
  padding: 20px;
  perspective: 1000px;
}

.collageitem {
  position: relative;
  overflow: hidden;
  background: black;
  border-radius: 50% !important;
  aspect-ratio: 1 / 1;
  width: 140px;
  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.3),
    inset 0 0 0 4px black,
    0 0 0 1px #9d1ef7;
  transition: all 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  animation: float 6s ease-in-out infinite;
}

.collageitem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
  display: block;
}

.collageitem.cert {
  animation-delay: 0s;
}

.collageitem.type {
  animation-delay: -1.5s;
}

.collageitem.id {
  animation-delay: -3s;
}

.collageitem.ncc {
  animation-delay: -4.5s;
}

.collageitem.group {
  animation-delay: -2s;
}
.collageitem.cert img,
.collageitem.ncc img,
.collageitem.type img {
  object-fit: contain;
  width: 85%;
  height: 85%;
  background:black;
}

.collageitem:hover {
  transform: scale(1.15) translateY(-15px);
  box-shadow:
    0 25px 50px rgba(186, 47, 218, 0.5),
    inset 0 0 0 2px #de59e6;
  z-index: 20;
}

.collageitem:hover img {
  transform: scale(1.1);
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0) rotate(0deg);
  }

  33% {
    transform: translateY(-8px) rotate(1deg);
  }

  66% {
    transform: translateY(4px) rotate(-1deg);
  }
}

.contactlinks {
  display: flex;
  justify-content: center;
  gap: 32px;
  align-items: stretch;
  flex-wrap: wrap;
  margin-top: 32px;
}

.contactitem {
  width: 220px;
  height: 140px;
  padding: 16px 32px;
  border-radius: 16px;
  background-color: black;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  font-weight: 600;
  text-wrap: wrap;
  background: linear-gradient(135deg, #f058f5, #9d1ef7);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contactitem:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 40px rgba(255, 204, 0, 0.35);
  color: black;
  border-color: #9d1ef7;
  box-shadow: 0 10px 20px #de59e6;
}

.contactitem i {
  font-size: 32px;
  margin-bottom: 8px;
}

.footer {
 background: linear-gradient(135deg, #f058f5, #9d1ef7);
  padding: 32px 0;
  text-align: center;
  color: white;
  font-size: 14px;
}

#skills {
  background-color: black;
  margin-top: 64px;
  width: 1350px;
  margin-left: 75px;
  margin-right: 60px;
  border-radius: 20px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.05);
}

.skillscontainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 32px;
  margin-left: 200px;
}

.skill {
  margin-bottom: 24px;
  width: 700px;
}

.skill span {
  display: block;
  font-weight: 600;
  margin-bottom: 7px;
 background: linear-gradient(135deg, #f058f5, #9d1ef7);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skillbar {
  background: linear-gradient(135deg, #f058f5, #9d1ef7);
  border-radius: 20px;
  overflow: hidden;
  height: 25px;
  width: 400px;
}

.skilllevel {
  height: 100%;
  background-color: white;
  color: black;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  border-radius: 20px;
}

.html {
  width: 70%;
}

.css {
  width: 70%;
}

.js {
  width: 30%;
}

.python {
  width: 60%;
}

.fastapi {
  width: 35%;
}

.postgres {
  width: 45%;
}


.project {
  text-align: center;
  padding: 60px 20px;
}

.project h2 {
  background: linear-gradient(135deg, #f058f5, #9d1ef7);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 40px;
}

.project_cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}


.card {
  background: black;
  border-radius: 12px;
  max-width: 400px;
  border: 3px solid white;
  overflow: hidden;
  text-align: left;
  transition: transform 0.4s ease, box-shadow 0.4s ease, border-color 0.4s ease;
}

.card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 20px 45px rgba(255, 204, 0, 0.4);
  border-color: #9d1ef7;
  box-shadow: 0 10px 20px #de59e6;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.card:hover img {
  transform: scale(1.1);
}

.card h3 {
  background: linear-gradient(135deg, #f058f5, #9d1ef7);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 15px;
}

.card p {
  margin: 0 15px 10px;
  color: white;
}

.link {
  display: inline-block;
  margin: 10px 15px 20px;
  background: linear-gradient(135deg, #f058f5, #9d1ef7);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

#englishskill {
  background-color: black;
}

.englishcontainer {
  max-width: 600px;
  margin: auto;
}

.englishskill {
  margin-bottom: 24px;
}

.englishskill span {
  display: block;
  font-weight: 600;
  margin-bottom: 6px;
  background: linear-gradient(135deg, #f058f5, #9d1ef7);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bar {
  background: linear-gradient(135deg, #f058f5, #9d1ef7);
  height: 24px;
  border-radius: 20px;
  overflow: hidden;
}

.fill {
  height: 100%;
  background-color: White;
  color: black;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  border-radius: 20px;
}

.reading {
  width: 55.5%;
}

.listening {
  width: 45%;
}

.writing {
  width: 52%;
}

.speaking {
  width: 47%;
}

.englishskill span {
  font-size: larger;
}

.efsetnote {
  text-align: center;
  margin-top: 32px;
  font-size: 16px;
  background: linear-gradient(135deg, #f058f5, #9d1ef7);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bar:hover {
  transform: translateY(-3px);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.12);
}